body{
    background-color: #003366;
}

.bg-seppia{

    background-color: #989797;
}



.bg-seppialight{
    background-color: #bab9b9;
}

.contact-header{
    background-color: #003366;
    color: #aaaaaa;
    margin: auto;


}

footer {
    color: #4ac1f7;
    position:absolute;
    bottom:0;
    width:100%;
    height:60px;   /* Height of the footer */
    background:#fff;
}