

.bg-seppia{

    background-color: #989797;
}
.carousel-item{

    height: 32rem;
    background: #777;
    color: #eee;
}


.bg-seppialight{
    background-color: #bab9b9;
}

.contact-header{
    background-color: #003366;
    color: #aaaaaa;
    margin: auto;


}

footer {
    color: #4ac1f7;
    position: absolute; bottom: 0; left: 0; right: 0;
    width:100%;
    height:60px;   /* Height of the footer */
    background:#fff;
}
html, body {padding:0; margin:0; height:100%;  background-color: #003366;}
