{% extends 'base.html' %}
{% load static %}
{% block content %}
    {% include 'nav.html' %}

    <div class="container">

        <table class="table">
            <tr>
                <th>Data</th>
                <th>Data Completamento</th>
                <th>Descrizione</th>
                <th>Spesa</th>
                <th>Completato</th>
            </tr>
            {% for t in tasks %}
                <tr>
                    <td>
                        {{ t.dataTask }}
                    </td>
                    <td>
                        {{ t.dataCompletamento }}
                    </td>
                    <td><a href="{% url 'task-update' t.id %}">{{ t.descrizione }}</a></td>
                    <td>{{ t.spesa }}</td>
                    <td>{{ t.completato }}</td>
                </tr>
            {% endfor %}
        </table>
    </div>



{% endblock content %}

